.modSearch {
  width: 40%;
  padding-left: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modSearch i {
  font-size: 1.3rem;
  height: 4.1rem;

  flex: 1;
  text-align: center;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.modSearchInput {
  height: 4rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

  border: transparent;
  width: 90%;
}

.modSearchInput:focus-visible {
  outline: transparent;
}

.modSearchInput::placeholder {
  font-size: 1.3rem;
  text-align: left;
}

.modSearchInput[type="text"] {
  font-size: 1.3rem;
  text-align: left;
  padding-left: 2rem;
  text-decoration: none;
}
