* {
    padding: 0px;
    margin: 0px;
    border: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

body {
    background-image: url(assets/background.jpg);
}

.beatbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 150px 0px 150px;
    position: relative;
    top: 300px;


}

.key {
    background-color: rgba(0, 0, 0, 0.5);
    border: 7px solid black;
    border-radius: 15% ;
    width: 100px;
    height: 100px;
    margin: 15px;
    color: white;
    text-transform:uppercase;
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.07s ease-in;
}

.clicked {
    transform: scale(1.1);
    border-color: rgb(252, 176, 0);
    box-shadow: 0 0 10px rgb(252, 176, 0);
}

.key kbd {
    font-size: 3.5rem;
}

.key .sound {
    color: rgb(252, 176, 0);
    font-size: small;
}