* {
    padding: 0px;
    margin: 0px;
    }

body {
    background-image: url(assets/background.jpg);
}

.beatbox {
    display: flex;
    flex-direction: row;
}

.key {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100px;
    height: 100px;
    padding: 20px;
}