@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.banner {
   background-image: url(https://res.cloudinary.com/wesbos/image/fetch/w_700,q_auto,f_auto/https://courses.wesbos.com/images/JS3-social-share.png);
   width: 100%;
   height: 250px;
   background-size: auto;
   background-repeat: no-repeat;
}

.intro-icon {
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    width:100%;
}

.icons {
    height: 50px;
}

.intro-icon span{
    font-size: 1.1rem;
}


.cta a{
    font-size: ;
    color: black;
}