:root {
  padding: 0px;
  margin: 0px ;
  box-sizing: border-box;
}

body {
  display: flex;
  padding: 0px;
  margin: 0px;
}

#root {
  background: url(./assets/background-image.jpg) no-repeat;
  /* background-size: auto; */
  /* max-width: 100%; */
  resize: both;
  width: 100vw;
  height: 200vw;

}