* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.hl {
    color: yellow;
}