@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: #0B010A;
    color: #FEE4FC;
}

.navbar {
    display: flex;
    font-weight: bolder;
    height: 25px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.options-list {
    display: flex;
    justify-content: center;
}

.option {
    margin: 50px;
    width: 100px;
    height: 100px;
    background-color: #3B9808;
    border-radius: 50%;
}