@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700px;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "inter";
    background-color: #0B010A;
    color: #FEE4FC;
}

.navbar {
    display: flex;
    font-weight: ;
}